* {
	font-family: 'PT Sans', sans-serif !important;
}

/* code-snippets styles */

.code-example {
	background: #000;
	color: #fff;
}
.code-example pre code::before {
	opacity: 0.3;
}
.code-example h2 {
	color: #fff;
}
.property {
	color: #d1949e;
}
.value {
	color: #bde052;
}
.operator {
	color: #f5b83d;
}
.punctuation {
	color: #bde052;
	opacity: 0.7;
}
.interpolation {
	color: #c5c8c6;
	opacity: 0.7;
}

/* quotes styles */

.avatar {
	height: 60px;
	border-radius: 50%;
	vertical-align: bottom;
	border: 2px solid black;
}

blockquote.no-quotes::before {
	display: none;
}

/* busted styles */

.busted {
	display: block;
	padding-top: 25px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(255, 0, 0);
	border: 20px solid rgb(190, 0, 0);
	transform: rotate(30deg);
}
